/* #region Form */
    /*
    html5doctor.com Reset Stylesheet
    v1.6.1
    Last Updated: 2010-09-17
    Author: Richard Clark - http://richclarkdesign.com
    Twitter: @rich_clark
    */

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        line-height:1;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section {
        display:block;
    }

    nav ul {
        list-style:none;
    }

    blockquote, q {
        quotes:none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

    /* change colours to suit your needs */
    mark {
        background-color:#ff9;
        color:#000;
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }

    /* change border colour to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;  
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }

/* #endregion */

/* My Code */


@font-face{

    src: url(Fonts/Montserrat-Regular.ttf);
    font-family: Mon;

    src: url(Fonts/Stalemate-Regular.ttf);
    font-family: Stale;
}

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    padding-top: 100px;
}

body{
    /*background-color:#e8e5da;*/
    background-image: linear-gradient(#9eb7e5,#e8e5da);
}

/* #region Header */

    header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border-bottom: 1px solid #39393a;
        background-color: #9eb7e5;
        width: 100%;
        height: 100px;
    }

    header .header-name{
        font-family: Stale, "Didot";
        font-size: 45px;  
        font-weight: 800;
        margin: 0px auto;
        color:#39393a;
        display:block;
        margin: 0 auto;
        text-align: center;
        padding: 15px 0;
    }

    header nav ul{
        margin: 0 auto;
        display: block;
        width: fit-content;
    }

    header nav ul li{
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 16px;
        color:#39393a;
    }

    header nav ul li a{
        font-family: Didot;
        font-size: 16px;
        color:#39393a;
    }

    header .header-cont{
        display: none;
    }


    @media only screen and (min-width: 1000px){
        header .header-name{
            margin: 31px 0 ;
            text-align: left;
            line-height: 38px;
            padding: 0px 15px 0px 40px;
            border-right: 3px solid #39393a;
            float: left;
        }

        header nav ul{
            margin: 20px 0px 0px 20px;
            float: left;
        }
    
        header nav ul li a{
            line-height: 60px;
        }

        header nav ul li a:hover {
            color:#648de5;
            transition: 0.2s all;
        }

        header .header-cont{
            display: block;
            font-family: Didot;
            font-size: 16px;
            line-height: 38px;
            color:#39393a;
            border: 1px solid #39393a;
            border-radius: 10px;
            float: right;
            margin-right: 40px;
            margin-top: 30px;
            padding: 0 20px;
        }
        header .header-cont:hover {
            color:#648de5;
            transition: 0.2s all;
        }

    }
/* #endregion */    

/* #region Index */

    .index-banner{
        width: 100%;
        height: calc(100vh - 100px);
        background-image: url(images/foam.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .vertical-center{
        display: table-cell;
        vertical-align: middle;
    }

    .index-banner h2{
        font-family: Didot;
        font-size: 65px;
        color:#39393a;
        letter-spacing: 5px;
        text-align: center;
        margin: 15px;
        text-shadow: 3px 3px 8px #39393a;
    }

    .index-banner h1{
        font-family: Didot;
        font-size: 20px;
        color:#39393a;
        letter-spacing: 2px;
        text-align: center;
        margin: 15px;
        text-shadow: 5px 5px 10px #39393a;
    }

    .index-links div{
        margin: 16px 16px 0;
        width: calc(100% - 32px);
        height: 100px;
        background-color: #9eb7e5;
        border-radius: 10px;
        border: 1px solid #39393a;

    }
    
    .index-links div h3 {
        font-family: Didot;
        font-size: 28px;
        font-weight: 100;
        color:#39393a;
        letter-spacing: 2px;
        text-align: center;
        line-height: 100px;
    }

    @media only screen and (min-width: 1000px){

        .wrapper{
            width: 1000px;
            margin: 0 auto;
        }

        .index-banner{
            height: 500px;
        }

        .index-banner h1{
            display: block;
            width: 560px;
            margin: 0 auto;
        }
        
        .index-links {
            overflow: hidden;
        }

        .index-links div{
            margin: 20px 10px 0;
            height: 230px;
            float: left;
        }
        .index-box-square{
            width: calc(25% - 20px) !important;
        }
        .index-box-rectangle{
            width: calc(50% - 20px) !important;
        }
        
        .index-links div h3 {
            line-height: 230px;
        }
        
        .index-links div h3:hover{
            color:#648de5;
            transition: 0.2s all;
        }
    
    }

/* #endregion */

/* #region About */
    .about-banner{
        width: 100%;
        height: calc(100vh - 100px);
        background-image: url(images/ocean.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .about-banner h1{
        font-family: Didot;
        font-size: 25px;
        font-style: italic;
        color:#39393a;
        text-align: center;
        margin: 15px;
    }

    .pro_container{
        width: 100%;
        padding: 50px;
    }
 
    /*
    .pro_pic{
        overflow: hidden;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 20px;
        shape-outside: circle();
    }
    */
    .pro_text h2{
        font-family: Didot;
        font-size: 30px;
        color:#39393a;
        text-align: justify;
        margin: 15px;
    }

    .pro_text p{
        font-family: Didot;
        font-size: 20px;
        color:#39393a;
        text-align: justify;
        line-height: 25px;
    }

    
    @media only screen and (min-width: 1000px){

        .wrapper{
            width: 1000px;
            margin: 0 auto;
        }

        .about-banner{
            height: 500px;
        }

        .about-banner h1{
            display: block;
            width: 560px;
            margin: 0 auto;
        }
    
    }
/* #endregion */

/* #region Education */
    .edu-banner{
        width: 100%;
        height: calc(100vh - 100px);
        background-image: url(images/tamu.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .edu-banner h1{
        font-family: Didot;
        font-size: 65px;
        color:#39393a;
        text-align: center;
        margin: 15px;
        text-shadow: 3px 3px 8px #39393a;
    }

    .pro_container{
        width: 100%;
        padding: 50px;
    }
 
    .wrapper h1{
        font-family: Didot;
        font-size: 20px;
        color:#39393a;
        text-align: justify;
        margin: 15px;
    }

    .wrapper p{
        font-family: Didot;
        font-size: 20px;
        color:#39393a;
        text-align: justify;
        line-height: 25px;
    }

    
    @media only screen and (min-width: 1000px){

        .wrapper{
            width: 1000px;
            margin: 0 auto;
        }

        .edu-banner{
            height: 500px;
        }

        .edu-banner h1{
            display: block;
            width: 560px;
            margin: 0 auto;
        }
    
    }
/* #endregion */

/* #region Footer */
    footer{
        width: calc(100%-80px);
        padding: 40px 40px;
        margin-top: 20px;
        border-top: 1px solid #39393a;
        border-right: 1px solid #39393a;
        border-left: 1px solid #39393a;
        border-radius: 10px 10px 0 0;
        background-color: #9eb7e5;
        overflow: hidden;
    }

    footer ul{
        width: fit-content;
        float: left;
        padding-left: 20px; 
    }

    footer ul li{
        display: block;
        list-style: none;
        color:#e8e5da;
    } 

    footer ul li a{
        font-family: Didot;
        font-size: 25px;
        color:#39393a;
        line-height: 40px;
    }

    .footer-main-new{
        display: none;
    }

    .footer-sm{
        width: 40px;
        float: right;
    }

    .footer-sm img{
        width: 100%;
        margin-bottom: 10px;
    }


    @media only screen and (min-width: 1000px){

        footer ul{ 
            padding-right: 30px;
        }

        .footer-main-new{
            display: block;
        }
    
        footer ul li p{
            font-family: Didot;
            font-size: 25px;
            color:#39393a;
            line-height: 40px;
            text-transform: uppercase;
        }

        footer ul li a:hover {
            color:#648de5;
            transition: 0.2s all;
        }
    }
/* #endregion */